.header {
    height: 4rem;
    max-width: 1030px;
    width: 100%;
    margin: auto;
    margin-top: 12px;
    display: flex;
    justify-content: end;
}

.image-icon {
    padding-right: 12px;
    height: 80%;
}

.hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img.jpg");
    height: 70vh;
    max-width: 1030px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    justify-content: center;
    color: white;
}

.hero-title {
    font-size: 2.5rem;
}

.progress-link {
    color:white;
    font-size: 1.4rem;
    border-radius: 16px;
    text-decoration: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 12px;
}

.container {
    margin: auto;
    margin-top: 20px;
    padding-bottom: 32px;
    width: 90%;
    max-width: 1030px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p {
    text-align: justify;
    font-size: 1.2rem;
}

.container p,
.sub-title,
.list {
    align-self: flex-start;
}

.list {
    font-size: 1.2rem;
}



